body{
    background-color: rgb(138, 203, 230);
    
}
.box-one{
    background-color: rgb(84, 160, 170);
    width: 1300px;
    padding: 30px;
    border: 20px solid rgb(236, 236, 226);
    margin: 10px;
    text-align: center;

}
